<div class = "explore-container">
    <div class = "upper-div">
        <div class = "main-img">
            <img src = "assets/img/mounty-explore.jpg" width="100%" height="100%"/>
        </div>
        <div class = "intro">
            <div>
                <p>Mounty.fm the best way to listen to music with your friends.</p>
            </div>
        </div>
    </div>
    <div>
        <p class="room-p">Explore Rooms</p>
        <hr>
    </div>
    <div class = "lower-div-rooms">
        <div *ngFor="let room of rooms" class="room">
            <a routerLink = 'rooms/{{room.id}}' (click) = "onSelect(room)">
                <div class="room-inner">
                    <div class = "room-img">
                        <img src="assets/img/mounty-logo.png" width="110px" height="110px"/>
                    </div>
                    <div class="room-title">
                      <p>{{room.title}}</p>  
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>