.upper-div {
    margin-top: 3%;
    display: flex;
}

.lower-div {
    margin-top: 3%;
}

.main-img {
    width: 50%;
    background-color: tomato;
    border-radius: 10px;
}

.main-img img {
    object-fit: cover;
    border-radius: 10px;
}

.room-p {
    color: #ffffff;
    font-size: 18pt;
    font-weight: 400;
}

.intro {
    width: 45%;
    margin-left: 5%;
    border-radius: 10px;
    background-color: #8DEDE7;
}

.intro :nth-child(1) {
    text-align: center;
    padding: 10%;
}

.intro :nth-child(1) p {
    font-size: 20pt;
}

