<div class = "my-rooms-container">
    <div class = "upper-div">
        <div class = "invite-div">
            <form class = "invite-form">
                <label for="invite-label">Join the room via invite code:</label><br>
                <div class = "invite-input-btn">
                    <input type="text" id="invite-code" name="invite-code"><br>
                    <button>Join</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <p class="room-p">My Rooms</p>
        <hr>
    </div>
    <div class = "lower-div-rooms">
        <div *ngFor="let room of rooms" class="room">
            <a routerLink = 'my-rooms/{{room.id}}' (click) = "onSelect(room)">
                <div class="room-inner">
                    <div class = "room-img">
                        <img src="assets/img/mounty-logo.png" width="110px" height="110px"/>
                    </div>
                    <div class="room-title">
                      <p>{{room.title}}</p>  
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>