<div class = "my-rooms-container">
    <div class = "upper-div">
        <div class = "invite-div">
            <form class = "invite-form">
                <label for="invite-label">Join the room via invite code:</label><br>
                <div class = "invite-input-btn">
                    <input type="text" id="invite-code" name="invite-code" [(ngModel)]="inviteCode"><br>
                    <button (click)="joinPrivateRoom(inviteCode)">Join</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <p class="room-p">My Rooms</p>
        <hr>
    </div>
    <div class = "lower-div" fxLayoutGap="1em" fxLayout="row wrap">
        <div  fxFlex="0 0 31%" fxLayoutAlign="center" *ngFor="let room of rooms" class="room">
            <a [routerLink] = "['room/{{room.id}}']" (click) = "onSelect(room)">
                <div class="room-inner">
                    <div class = "room-img">
                        <img src="{{room.imageUrl}}"/>
                    </div>
                    <div id = "explore" class="room-title">
                      <p>{{room.title}}</p>  
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>