.invite-div {
    width: 50%;
    margin-left: 25%;
    text-decoration: none;
    border: 1px solid #8DEDE7;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    background-color:#8DEDE7;
    padding: 3%;
}

.invite-input-btn {
    display: flex;
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
}

.invite-input-btn input {
   width: 70%;
   float: left;
   border-radius: 10px;
   background-color: white;
   font-weight: bold;
   font-size: 12pt;
   text-align: center;
   color: gray;
   border: none;
   box-shadow: 0 -2px 2pt#888888;
}

.invite-input-btn button {
    width: 30%;
    margin-left: 2.5%;
    float: right;
    border-radius: 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 14pt;
 }

 input[type=text]:hover{
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
  }
  input[type=text]:focus {
    box-shadow: 0 0 5pt 2pt #D3D3D3;
    outline-width: 0px;
  }

.invite-form {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.invite-form label {
    font-weight: bold;
    font-size: 16pt;
}