.navbar {
    background-color: #8DEDE7;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.25);
}

.navbar a {
    margin-left: 3%;
    color: #424242;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

.navbar #login {
    float: right;
    padding-right: 3%;
}

.navbar #profile {
    float: right;
    padding-right: 3%;
}

.navbar a:hover {
    color: black;
}

.logo {
    padding-top: 20px;
    margin-bottom: -20px;
}

.logo img {
    object-fit: cover;
}