.room-blocks {
    display: flex;
    flex-direction: row;
    height: 28em;
    margin-bottom: 4%;
}


.room-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    background-color: black;
    width: 33%;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.25);}

.room-titles {
    display: flex;
    flex-direction: row;
}

#track.room-block {
    background-color: black;
    display: inline-block;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.room-title {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    border-radius: 10px;
    height: fit-content;
    text-align: start;
    font-size: 14pt;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.room-player {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    height: 3em;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
}

.current-song {
    display: flex;
    flex-direction: row;
    padding-left: 1%;
}

.current-song-name {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-left: 6%;
    width: 10em;
}

.current-song-img{
    object-fit: cover;
}

.current-song-title {
    color: #BBB8B8;
    font-size: 12pt;
    font-weight: 800;
}


.current-song-author {
    color: #828282;
    font-size: 10pt;
}


.player-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.5%;
    padding-right: 45%;
    width: 8em;
    justify-content: space-between;
}

.player-buttons img{
    width: 90%;
}

.play-button {
    padding-top: 10%;
}


.chat-content {
    color: #ffffff;
    height: 23em;
    border-radius: .25rem;
    margin-bottom: 2rem;
    overflow: scroll;
}

.chat-content::-webkit-scrollbar {
    display: none;
}

.chat-send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5%;
}

.card {
    height: 100%;
    word-break: break-all;
}

li {
    list-style-type: none;
}

.list-messages{
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 10px;
}


.form-control {
    padding-left: 5%;
    background-color: #000000;
    font-size: 12pt;
    box-shadow: none !important;
    border:none;
    color: #ffffff
}

input:focus {
    outline: none;
}

button {
    background-color: black;
    border: none;
    color: white;
 }


.message-time {
    font-size: 10pt;
}

.track-inner {
    width: 96%;
    height: 54px;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    border-bottom: solid 0.1em white;
}

.track-img {
    width: 50px;
    height: 50px;
    margin-top: 2px;
}

.track-img img {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-top: 5%;
    position: relative;
    display: block;
    margin: auto;
    border-radius: 5px;
}

.track-info {
    width: 80%;
    height: 100%;
    display: block;
}

.track-info p {
    margin: 1%;
    font-size: 13px;
    font-weight: bold;
    color: white;
}