<div id="room">
    <div class="room-titles">
        <span class="room-title">{{room.title}}</span>
        <span class="room-title">Songs</span>
        <span class="room-title">Chat</span>
    </div>
    <div class="room-blocks">
        <div class="room-block">{{room}}</div>
        <div class="room-block" id = "track">
            <div *ngFor="let track of tracks" id = "room-tracks" class="room-tracks">
                <a (click) = "play()">
                    <div class = "track-inner">
                        <div class = "track-img">
                            <img src = "{{track.imageUrl}}" width="50px" height="50px"/>
                        </div>
                        <div class = "track-info">
                            <p>{{track.name}}<br><span style="font-size: 11px;">{{track.artists}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="room-block">
            <div class="container">
                <div #scrollChat class="chat-content">
                    <div class="card">
                        <ul class="list-messages">
                            <li *ngFor="let roomMessage of chatService.roomMessages">
                                <span class="message-time">{{getHoursAndMinutes(roomMessage.createdAt)}} </span>
                                <strong>{{roomMessage.userName}}: </strong>
                                <span class="list-message">{{roomMessage.messageText}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm" class="chat-form">
                    <div class="chat-send">
                        <div>
                            <input type="text" class="form-control" name="message" id="input-message" ngModel>
                        </div>
                        <div>
                            <button type="submit" class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="room-player">
        <div class="current-song">
            <img class="current-song-img" src="assets/img/mounty-logo.png"/>
            <div class="current-song-name">
                <span class="current-song-title">Mountain Song</span>
                <span class="current-song-author">Mountain Guy</span>
            </div>
        </div>
        <div class="player-buttons">
            <a><img class="player-button" src="assets/img/prev.png"/></a>
            <a><img class="play-button" src="assets/img/play.png"/></a>
            <a><img class="player-button" src="assets/img/next.png"/></a>
        </div>
    </div>
</div>
