<div id="room">
    <div class="room-titles">
        <span class="room-title">{{room.title}}</span>
        <span class="room-title">Songs</span>
        <span class="room-title">Chat</span>
    </div>
    <div class="room-blocks">
        <div class="room-block">
            <div class = "room-info">
                <div class = "image-and-owner">
                    <div class = "img">
                        <img *ngIf = "roomUserService.ownerProfile.avatarUrl != null" src = "{{roomUserService.ownerProfile.avatarUrl}}" width="187px" height="187px"/>
                        <img *ngIf = "roomUserService.ownerProfile.avatarUrl == null" src = "{{room.imageUrl}}" width="187px" height="187px"/>
                    </div>
                    <div class = "owner">
                        <p>Owner: @{{roomUserService.ownerProfile.name}}</p>
                    </div>
                </div>
                <div class = "current-track">
                    <div>
                        
                    </div>
                    <div>
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>
                </div>
                <div class = "room-privacy">
                    <p>Make room private:</p>
                    <div class = "input-and-switch">
                        <input type="text" id="invite-code" name="invite-code" [(ngModel)]="inviteCode"><br>
                        <label class="switch">
                            <input type="checkbox" [checked]="isPrivate" [(ngModel)]="isChecked" (change)="makeRoomPrivate(inviteCode)">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="room-block" id = "track">
            <div *ngFor="let track of this.roomService.tracks" id = "room-tracks" class="room-tracks">
                <a *ngIf = "roomUserService.isOwner" (click) = "play(track)" style="cursor: pointer;">
                    <div class = "track-inner">
                        <div class = "track-img">
                            <img src = "{{track.imageUrl}}"/>
                        </div>
                        <div class = "track-info">
                            <p>{{track.name}}<br><span style="font-size: 11px; color: #BFBFBF;">{{track.artists}}</span></p>
                        </div>
                    </div>
                </a>
                <a *ngIf = "!roomUserService.isOwner">
                    <div class = "track-inner">
                        <div class = "track-img">
                            <img src = "{{track.imageUrl}}"/>
                        </div>
                        <div class = "track-info">
                            <p>{{track.name}}<br><span style="font-size: 11px; color: #BFBFBF;">{{track.artists}}</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="room-block">
            <div class="container">
                <div #scrollChat class="chat-content">
                    <div class="card">
                        <ul class="list-messages">
                            <li *ngFor="let roomMessage of chatService.roomMessages">
                                <span class="message-time">{{getHoursAndMinutes(roomMessage.createdAt)}} </span>
                                <strong>{{roomMessage.userName}}: </strong>
                                <span class="list-message">{{roomMessage.messageText}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <form (ngSubmit)="sendMessage(sendForm)" #sendForm="ngForm" class="chat-form">
                    <div class="chat-send">
                        <div>
                            <input type="text" class="form-control" name="message" id="input-message" ngModel>
                        </div>
                        <div>
                            <button type="submit" class="send">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="room-player">
        <div class="current-song">
            <img class="current-song-img" src="assets/img/mounty-logo.png"/>
            <div class="current-song-name">
                <span class="current-song-title">Mountain Song</span>
                <span class="current-song-author">Mountain Guy</span>
            </div>
        </div>
        <div *ngIf="roomUserService.isOwner" class="player-buttons">
            <a (click)='changePlayerState("prev")'><img class="player-button" src="assets/img/prev.png"/></a>
            <a *ngIf="isPlay" (click)='changePlayerState("play")'><img class="play-button" src="assets/img/play.png"/></a>
            <a *ngIf="!isPlay" (click)='changePlayerState("stop")'><img class="play-button" src="assets/img/pause.png"/></a>
            <a (click)='changePlayerState("next")'><img class="player-button" src="assets/img/next.png"/></a>
        </div>
        <ng-template #notOwner>
        </ng-template>
    </div>
</div>
